In [13]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import sqlite3
conn = sqlite3.connect('movies.db')
c = conn.cursor()

In [14]:
movies = pd.read_sql_query("select * from movies;", conn)
movies.head()

,imdb_id,title,certificate,gross,imdb_rating,metascore,runtime,votes,year
0,tt4633694,Spider-Man: Into the Spider-Verse,PG,189936471.0,8.5,87.0,117.0,160975.0,2018
1,tt1477834,Aquaman,PG-13,334826690.0,7.2,55.0,143.0,211622.0,2018
2,tt7959026,The Mule,R,103804407.0,7.1,58.0,116.0,32910.0,2018
3,tt6966692,Green Book,PG-13,84068561.0,8.3,69.0,130.0,158958.0,2018
4,tt1727824,Bohemian Rhapsody,PG-13,215983200.0,8.1,49.0,134.0,311167.0,2018

In [16]:
genres = pd.read_sql_query("select * from genres;", conn)
genres.head()

   id      genre
0   0        War
1   1    Western
2   2  Animation
3   3   Thriller
4   4  Adventure

In [17]:
movie_genres = pd.read_sql_query("select * from movie_genres;", conn)
movie_genres.head()

   genre_id   movie_id
0         2  tt4633694
1        12  tt4633694
2         4  tt4633694
3        12  tt1477834
4         4  tt1477834

In [30]:
junction = pd.read_sql_query('''SELECT genre, certificate, imdb_rating FROM genres
                  LEFT JOIN movie_genres
                  ON movie_genres.genre_id = genres.id
                  LEFT JOIN movies
                  ON movies.imdb_id = movie_genres.movie_id
                  GROUP BY genre, certificate''', conn)

junction.head()

    genre certificate  imdb_rating
0  Action        None          NaN
1  Action    Approved          NaN
2  Action           G          5.7
3  Action   Not Rated          5.6
4  Action          PG          NaN

In [31]:
junction.dropna()
junction = junction[junction.where]

         genre certificate  imdb_rating
2       Action           G          5.7
3       Action   Not Rated          5.6
5       Action       PG-13          7.6
6       Action           R          6.4
7       Action       TV-14          4.5
8       Action       TV-MA          4.5
9       Action       TV-PG          7.9
10      Action     Unrated          5.4
13   Adventure           G          5.6
15   Adventure   Not Rated          6.5
16   Adventure          PG          4.2
17   Adventure       PG-13          7.6
18   Adventure           R          6.5
19   Adventure       TV-14          4.7
20   Adventure        TV-G          5.3
21   Adventure       TV-MA          4.7
22   Adventure       TV-PG          7.1
23   Adventure     Unrated          1.7
25   Animation           G          5.6
27   Animation   Not Rated          5.0
28   Animation          PG          5.1
29   Animation       PG-13          7.1
30   Animation           R          7.8
31   Animation       TV-14          5.6
32   Animation        TV-G          2.7
33   Animation       TV-MA          6.6
34   Animation       TV-PG          7.9
36   Biography   Not Rated          7.1
37   Biography          PG          7.4
38   Biography       PG-13          5.4
..         ...         ...          ...
156    Romance     Unrated          6.3
158     Sci-Fi   Not Rated          7.0
159     Sci-Fi       PG-13          6.8
160     Sci-Fi           R          4.6
161     Sci-Fi       TV-14          4.9
162     Sci-Fi       TV-MA          5.4
163     Sci-Fi       TV-PG          5.3
164     Sci-Fi     Unrated          1.7
167      Sport           G          5.5
168      Sport   Not Rated          7.5
169      Sport          PG          6.4
170      Sport       PG-13          6.2
171      Sport           R          4.7
172      Sport       TV-14          8.4
173      Sport       TV-MA          7.8
174      Sport       TV-PG          4.9
175      Sport     Unrated          4.7
180   Thriller   Not Rated          4.6
181   Thriller       PG-13          6.8
182   Thriller           R          7.3
183   Thriller       TV-14          4.9
184   Thriller       TV-MA          5.4
185   Thriller       TV-PG          5.7
188        War   Not Rated          5.9
189        War       PG-13          5.4
190        War           R          6.7
191        War       TV-MA          6.9
193    Western   Not Rated          6.3
194    Western           R          6.5
195    Western       TV-MA          4.5

[144 rows x 3 columns]